body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#maps-root, #react-root {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
}

#maps-root {
  z-index: -1;
}

#react-root {
  pointer-events: none;
}

#react-root>* {
  box-shadow: 5px 10px#196DDB;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  pointer-events: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
